<div>
    <div>{{ question.phrase }}</div>
    <fieldset>
        <legend>Deine Antwort</legend>

        {% for key, option in question.options %}
            <div>
                <input type="checkbox" id="option{{ key }}" name="options[{{ option.text }}]">
                <label for="option{{ key }}">{{ option.text }}</label>
            </div>
        {% endfor %}

    </fieldset>
</div>