<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <a class="navbar-brand ms-2" href="{{ path('home') }}">Navigation</a>
    <div class="collapse navbar-collapse d-flex justify-content-between">
        <div>
            <ul class="navbar-nav">
                <li class="nav-item me-1">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}"
                       href="{{ path('home') }}">{% trans %}nav.home{% endtrans %}</a>
                </li>
                <li class="nav-item me-1">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'exam_index' ? 'active' : '' }}"
                       href="{{ path('exam_index') }}">{% trans %}nav.exam{% endtrans %}</a>
                </li>
                <li class="nav-item me-1">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'reference_index' ? 'active' : '' }}"
                       href="{{ path('reference_index') }}">{% trans %}nav.reference{% endtrans %}</a>
                </li>
                <li class="nav-item me-1">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'topic_index' ? 'active' : '' }}"
                       href="{{ path('topic_index') }}">{% trans %}nav.topics{% endtrans %}</a>
                </li>
                <li class="nav-item me-1">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'feedback' ? 'active' : '' }}"
                       href="{{ path('feedback') }}">{% trans %}nav.feedback{% endtrans %}</a>
                </li>
            </ul>
        </div>
        <div class="me-5 mt-2 mb-2">
            <a class="nav-item ms-5 bg-danger rounded nav-link text-black" href="{{ path('app_logout') }}">{% trans %}nav.logout{% endtrans %}</a>
        </div>
    </div>
</nav>