<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('logout') }}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('exam_index') }}">Prüfung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('feedback') }}">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('reference_index') }}">Nachschlagewerk</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ url('topic_index') }}" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Lernfelder
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url('topic_1') }}">Lernfeld 1</a>
                    <a class="dropdown-item" href="{{ url('topic_2') }}">Lernfeld 2</a>
                    <a class="dropdown-item" href="{{ url('topic_3') }}">Lernfeld 3</a>
                    <a class="dropdown-item" href="{{ url('topic_4') }}">Lernfeld 4</a>
                    <a class="dropdown-item" href="{{ url('topic_5') }}">Lernfeld 5</a>
                    <a class="dropdown-item" href="{{ url('topic_6') }}">Lernfeld 6</a>
                </div>
            </li>
        </ul>
    </div>
</nav>